<div class="content-area">
    <div class="search-area">
        <label for="search-hero" class="label-search">Nome do Personagem</label>
        <input type="text" id="search-input" (keydown.enter)="search()" (keyup)="resetTable()">
    </div>
    <div class="content-table">
        <table>
            <tr>
                <th class="characters"> Personagem </th>
                <th class="series tableData"> Séries </th>
                <th class="events tableData"> Eventos </th>
            </tr>
            <tr *ngFor="let hero of heroes" class="content-row" (click)="openModal(hero.name, hero.series.items, hero.events.items, hero.thumbnail.path)">
                <td>
                    <div class="row-content">
                        <div class="row-thumbnail">
                            <img [src]='hero.thumbnail.path+"/portrait_medium.jpg"'>
                        </div>
                        <div>
                            {{hero.name}}
                        </div>
                    </div>
                </td>
                <td class="tableData"><ng-container *ngIf="hero.series.items.length">
                    <ng-container *ngFor="let item of hero.series.items | slice:0:3; let i=index">
                        {{hero.series.items[i].name}}<br/>
                    </ng-container>
                </ng-container></td>

                <td class="tableData"><ng-container *ngIf="hero.events.items.length">
                    <ng-container *ngFor="let item of hero.events.items | slice:0:3; let i=index">
                        {{hero.events.items[i].name}}<br/>
                    </ng-container>
                </ng-container></td>
            </tr>
        </table>
    </div>
    <div class="pagination">
        <div class='button-play-f' (click)="rollLeft()"></div>
        <div class="paginationButtons" id="paginationButtons">
            <div class="button-pagination"
            *ngFor="let number of pageButtons"
            (click)="getPaginationContent($event.target)">
                <div>{{number}}</div>
            </div>
        </div>
        <div class='button-play-r' (click)="rollRight()"></div>
    </div>
</div>
<div class="modal" id="modal">
    <div class="modal-content">
        <div class="modal-thumbnail">
            <img [src]='heroThumbnail+"/portrait_xlarge.jpg"'><br/>
            <div style="font-weight: 700; font-size: 20px;">{{heroName}}</div><br/>
        </div>
        <div class="modal-description">
            <div class="modal-series">
                <div style="font-weight: 600">Séries</div><br/>
                <div *ngFor="let series of heroSeries">
                    {{series.name}}
                </div>
            </div>
            <div class="modal-separator"></div>
            <div class="modal-events">
                <div style="font-weight: 600">Eventos</div><br/>
                <div *ngFor="let events of heroEvents">
                    {{events.name}}
                </div>
            </div>
        </div>
        <div class="close-btn" (click)="closeModal()">&times;</div>
    </div>
</div>