body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.app-container {
    position: relative;
    width: 1280px;
    height: 720px;
    padding: 20px 42px 0 42px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
@media screen and (max-width: 1080px) {
    .app-container {
      width: 100%;
    }
}

